@tailwind base;
@tailwind components;
@tailwind utilities;

em-emoji-picker {
  width: 300px;
  padding-left: 10px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 5px !important;
  height: 10px;
}
::-webkit-scrollbar-track {
  background: #e5e7eb;
}
::-webkit-scrollbar-thumb {
  background-color: #d1d5db;
  border-radius: 20px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.react-flow__handle {
  opacity: 0;
  top:0
}

.react-flow__attribution {
  display:none;
}
